<div class="container mt-5">
    <div class="row">
      <!-- Card de Funcionários -->
      <div class="col-md-12 col-lg-12">
        <div class="card h-100">
          <div class="card-header d-flex justify-content-between align-items-center">
            <span>Funcionários</span>
            <i class="bi bi-plus-circle text-success" (click)="addFuncionario()" style="cursor: pointer;"></i>
          </div>
          <div class="card-body overflow-auto" style="max-height: 200px;">
            <app-funcionarios></app-funcionarios>
          </div>
        </div>
      </div>
</div>
