:host ::ng-deep .login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1c1c1c;
  color: #ffffff;
}


h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

/* Grupo de entrada para centralizar e estilizar os campos */
.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
}

label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #b0b0b0;
}

/* Estilo dos campos de entrada */
input.form-control {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #111;
  color: #ffffff;
}

/* Estilo do botão */
.login-button {
  padding: 0.75rem;
  width: 100%;
  max-width: 300px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #0078d7; /* Cor azul moderna */
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #005bb5; /* Cor de destaque ao passar o mouse */
}
.logomarca {
  width: 150px; /* Ajuste o tamanho conforme necessário */
  margin-bottom: 1rem;
}
