<div class="login-container">
  <h1>Barbearia</h1>
  <img src="assets/logomarca.png" alt="Logo" style="width: 100px; height: auto;">
  <form [formGroup]="editForm">
    <div class="input-group">
      <label for="username">Usuário:</label>
      <input type="text" id="username" formControlName="username" class="form-control" name="username" />
    </div>
    <div class="input-group">
      <label for="password">Senha:</label>
      <input type="password" id="password" formControlName="password" class="form-control" name="password" />
    </div>
    <button type="button" (click)="onSubmit()" class="login-button">Entrar</button>
  </form>
</div>
